<hr>
  <div class='nested-fields'>
    <div class="form-group">
      <%= f.label :product_id , class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.select :product_id, options_for_select(@products.map {|product| [product.name, product.id]}, f.object.product_id), {}, {class: "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :qty, class: "col-lg-2 control-label"  %>
      <div class="col-lg-10">
        <%= f.number_field :qty , class: "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= link_to_remove_association "remove product", f , class: "btn btn-danger"%>
      </div>
    </div>
  </div>

<script>
$('.datepicker').datepicker({
        language: 'es',
        endDate: '0'
});
$('select').select2({
    theme: "bootstrap"
});
</script>